<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>{{5*6}}<br> random number: {{num}}</p>
    <a href="{{ url_for('create_blog') }}">Go to block</a>
</body>
<footer>
    <p>Copyright {{year}}, Built by Truc Huynh:</p>
    How I can invest my time and money yyyy into this particular program.
    How can it do and what it take to type faster. Please let me know what to do and how can I do it right
    Some time I do not know how to type really faster
    Python injection code. Please Let me know what I can do to type muchfaster than this.
    How can i type wthout looking at tegh keyboard and stuff.
    <a>
        How can I type eithouit lookong at the screej Bit I do not knoe what
    </a>
</footer>
</html>