h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

nav-item {
    padding: 0 18px;
}

nav-link {
    font-size: 1.2rem;
    font-family; "Montserrat-Thin"
}

.container-fluid{
    padding: 3% 15% 3% 15%;
}


#title {
 background-color: #ff4c68;
}

