body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top_container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px
}

.middle_container{

}

.bottom_container{

}

.pro{
    text-decoration: underline;
}

.bottom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.top_cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

