 /*  JavaScript 6th Edition
    Chapter 7
    Hands-on Project 7-1

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
h1, h2{
	color: blue;
}

td {
	border: 2px solid black;
	background-color: #e6e6e6;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

h3{
	color: blue;
	font : TimesNewRoman;
	text-decoration: underline;
}

